[submodule "3rdparty/net/acc_links"]
	path = 3rdparty/net/acc_links
	url = https://gitee.com/ascend/acc_links.git
	branch = master
[submodule "test/3rdparty/googletest"]
	path = test/3rdparty/googletest
	url = https://github.com/google/googletest.git
	branch = tags/v1.12.0
[submodule "test/3rdparty/mockcpp"]
	path = test/3rdparty/mockcpp
	url = https://github.com/sinojelly/mockcpp.git
	branch = tags/v2.7
[submodule "3rdparty/nlohmann"]
	path = 3rdparty/nlohmann
	url = https://gitee.com/mirrors/JSON-for-Modern-CPP.git
	tag = v3.12.0
