[submodule "test/3rdparty/googletest"]
	path = test/3rdparty/googletest
	url = https://github.com/google/googletest.git
	branch = tags/v1.12.0
[submodule "test/3rdparty/mockcpp"]
	path = test/3rdparty/mockcpp
	url = https://github.com/sinojelly/mockcpp.git
	branch = tags/v2.7
[submodule "3rdparty/ubs-comm"]
	path = 3rdparty/ubs-comm
	url = https://atomgit.com/openeuler/ubs-comm.git
	branch = dev-kvcache
